In [3]:
import pandas as pd
import os 
import pymongo
from pprint import pprint

In [4]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [5]:
db = client.rescue_angels_db

In [6]:
# myCursor = db.inventory.find( { "size.uom": "in" } )
# db.org_collection.find().forEach(function(myDoc) { print( "zip_code: " + myDoc.address_postcode )}
# for zipcode in organization:
#     print 
org = db.org_collection

In [7]:
zip_codes = []
for doc in org.find():
    zip_codes += [doc["address_postcode"]]

In [8]:
zip_codes

['19030',
 '30102',
 '44107',
 '77080',
 '63361',
 '52001',
 '85032',
 '42409',
 '56050',
 '95991',
 '91364',
 '76028',
 '96021',
 '54923',
 '90278',
 '15211',
 '43615',
 '45305',
 '87740',
 '48911',
 '97266',
 '70527',
 '92508',
 '07504',
 '11756',
 '71957',
 '45805',
 '44241',
 '84660',
 '49240',
 '34286',
 '63043',
 '23225',
 '23464',
 '20657',
 '91506',
 '89436',
 '36580',
 '70835',
 '12494',
 '33775',
 '48847',
 '77477',
 '07030',
 '66801',
 '95128',
 '98901',
 '04037',
 '48640',
 '35603',
 '76258',
 '60157',
 '91602',
 '47131',
 '64844',
 '23693',
 '28386',
 '04032',
 '28401',
 '32073',
 '10011',
 '72714',
 '33567',
 '48820',
 '77042',
 '94061',
 '06360',
 '46259',
 '14883',
 '91402',
 '33062',
 '35243',
 '75147',
 '47150',
 '62231',
 '19504',
 '27597',
 '80503',
 '14610',
 '08004',
 '32641',
 '90813',
 '08757',
 '73112',
 '50315',
 '19947',
 '46201',
 '32732',
 '25676',
 '85203',
 '13165',
 '32210',
 '27114',
 '45053',
 '26554',
 '67801',
 '07840',
 '71405',
 '01773',
 '91380',
 '98840',
 '34474',
 '08757',
 '48030',
 '32905',
 '35806',
 '60643',
 '01581',
 '75902',
 '34677',
 '38501',
 '12578',
 '33441',
 '91031',
 '33903',
 '34972',
 '91012',
 '53588',
 '29936',
 '27310',
 '21044',
 '45231',
 '77664',
 '75418',
 '06615',
 '78731',
 '83123',
 '91387',
 '64051',
 '80211',
 '94903',
 '98115',
 '68601',
 '08873',
 '54960',
 '65024',
 '29073',
 '49037',
 '33991',
 '85299',
 '32547',
 '37829',
 '57066',
 '48160',
 '22701',
 '95462',
 '08016',
 '45168',
 '06798',
 '18944',
 '84029',
 '98908',
 '90815',
 '72032',
 '78759',
 '28144',
 '77401',
 '23936',
 '23954',
 '80521',
 '24258',
 '08061',
 '87114',
 '98901',
 '48080',
 '64628',
 '13219',
 '78704',
 '11598',
 '92863',
 '84302',
 '12404',
 '94070',
 '11415',
 '23321',
 '28697',
 '30076',
 '14568',
 '45014',
 '02816',
 '08831',
 '74016',
 '85929',
 '24401',
 '27408',
 '71742',
 '06441',
 '23063',
 '22630',
 '32807',
 '76255',
 '85254',
 '17777',
 '22192',
 '48232',
 '50036',
 '77292',
 '07060',
 '92023',
 '74014',
 '90707',
 '97132',
 '95337',
 '32533',
 '21014',
 '47371',
 '13029',
 '81212',
 '22314',
 '10128',
 '24531',
 '39702',
 '75424',
 '78606',
 '38075',
 '26143',
 '48387',
 '77061',
 '77536',
 '60030',
 '30102',
 '77484',
 '44641',
 '85086',
 '77355',
 '18325',
 '35671',
 '80210',
 '89101',
 '94804',
 '21009',
 '55417',
 '34742',
 '19020',
 '37146',
 '44883',
 '34656',
 '17331',
 '78734',
 '94110',
 '78734',
 '44410',
 '06759',
 '89015',
 '93907',
 '33496',
 '65616',
 '79411',
 '98382',
 '83704',
 '24060',
 '95038',
 '12206',
 '14472',
 '60084',
 '33176',
 '90019',
 '75757',
 '35976',
 '33134',
 '99712',
 '01719',
 '92624',
 '20715',
 '29376',
 '92626',
 '33511',
 '33542',
 '08078',
 '59427',
 '85041',
 '92065',
 '92646',
 '92648',
 '11791',
 '52240',
 '60173',
 '77445',
 '60510',
 '37098',
 '78757',
 '91001',
 '08889',
 '64168',
 '45102',
 '74801',
 '27545',
 '48451',
 '98033',
 '45042',
 '56201',
 '76117',
 '97756',
 '91933',
 '37950',
 '28539',
 '32056',
 '63019',
 '54650',
 '06062',
 '68502',
 '59715',
 '72802',
 '06070',
 '06019',
 '15610',
 '19350',
 '77339',
 '02332',
 '52722',
 '54166',
 '40206',
 '30707',
 '29649',
 '29697',
 '19606',
 '69129',
 '01020',
 '14102',
 '10023',
 '45236',
 '36732',
 '98053',
 '95604',
 '91392',
 '28374',
 '29501',
 '21631',
 '95938',
 '06482',
 '44035',
 '92285',
 '78232',
 '46311',
 '48146',
 '75023',
 '85308',
 '34112',
 '98464',
 '93274',
 '60041',
 '66048',
 '11520',
 '29464',
 '64111',
 '01569',
 '16115',
 '33433',
 '45698',
 '94604',
 '04037',
 '82301',
 '32725',
 '07480',
 '55111',
 '06483',
 '08535',
 '27576',
 '65203',
 '62565',
 '93465',
 '08012',
 '29040',
 '85338',
 '77382',
 '30271',
 '27533',
 '35079',
 '92592',
 '31210',
 '60446',
 '04973',
 '76103',
 '30127',
 '10469',
 '24212',
 '75089',
 '95422',
 '10460',
 '91066',
 '38671',
 '90046',
 '98198',
 '91423',
 '91423',
 '20012',
 '22026',
 '08234',
 '76052',
 '60139',
 '17329',
 '30251',
 '77808',
 '44231',
 '68767',
 '42464',
 '10526',
 '90014',
 '53081',
 '85234',
 '77384',
 '95070',
 '32539',
 '27801',
 '22714',
 '26037',
 '20155',
 '33993',
 '48376',
 '17815',
 '85622',
 '63127',
 '21230',
 '76233',
 '28210',
 '95816',
 '74014',
 '35266',
 '75098',
 '94518',
 '75189',
 '33023',
 '38824',
 '06268',
 '07401',
 '78248',
 '19380',
 '04530',
 '68801',
 '54101',
 '10541',
 '21208',
 '89423',
 '80901',
 '07480',
 '48313',
 '64138',
 '95123',
 '07470',
 '75248',
 '48323',
 '23117',
 '06906',
 '29212',
 '19535',
 '97527',
 '06488',
 '33141',
 '01756',
 '85335',
 '28146',
 '94122',
 '90632',
 '05478',
 '27410',
 '60656',
 '29693',
 '95050',
 '92009',
 '85749',
 '46360',
 '28134',
 '22724',
 '23083',
 '46375',
 '35049',
 '02048',
 '28782',
 '19147',
 '95376',
 '40065',
 '43026',
 '36555',
 '60097',
 '28711',
 '55104',
 '78218',
 '55421',
 '08831',
 '14619',
 '79407',
 '30263',
 '36850',
 '96797',
 '49953',
 '30094',
 '27409',
 '20685',
 '24084',
 '63136',
 '19046',
 '40356',
 '30052',
 '76205',
 '48723',
 '30171',
 '92866',
 '34698',
 '60150',
 '49203',
 '52403',
 '85259',
 '13021',
 '17026',
 '17702',
 '07109',
 '10033',
 '14886',
 '85008',
 '07032',
 '79424',
 '97220',
 '94044',
 '99354',
 '28173',
 '72730',
 '96097',
 '11581',
 '93729',
 '19401',
 '20736',
 '93705',
 '60012',
 '93720',
 '35802',
 '06088',
 '19026',
 '50542',
 '35020',
 '95366',
 '96073',
 '48051',
 '91207',
 '74728',
 '97702',
 '12306',
 '94565',
 '48334',
 '90025',
 '15401',
 '91316',
 '59741',
 '83652',
 '80011',
 '15501',
 '42701',
 '17013',
 '15601',
 '48909',
 '10520',
 '27512',
 '76240',
 '28117',
 '33549',
 '98366',
 '53719',
 '46660',
 '08109',
 '55921',
 '27533',
 '19947',
 '33971',
 '81082',
 '16105',
 '63122',
 '81005',
 '96001',
 '97525',
 '61455',
 '60061',
 '28779',
 '74361',
 '54956',
 '24465',
 '55704',
 '96150',
 '47390',
 '98374',
 '72776',
 '98502',
 '37143',
 '71837',
 '49306',
 '35603',
 '69201',
 '78003',
 '38834',
 '60064',
 '75211',
 '73003',
 '78052',
 '72023',
 '45601',
 '46385',
 '47353',
 '63146',
 '66720',
 '54615',
 '40065',
 '90026',
 '07063',
 '30518',
 '11784',
 '22611',
 '93444',
 '92505',
 '08534',
 '18612',
 '18938',
 '32907',
 '84761',
 '30101',
 '97402',
 '91394',
 '55448',
 '96746',
 '80516',
 '29801',
 '17545',
 '64064',
 '91752',
 '28728',
 '08753',
 '62705',
 '07853',
 '11576',
 '30189',
 '29731',
 '77036',
 '89431',
 '60085',
 '76108',
 '48604',
 '01090',
 '77032',
 '77433',
 '85029',
 '48195',
 '32043',
 '48152',
 '94112',
 '53581',
 '12302',
 '95677',
 '75077',
 '75083',
 '75154',
 '97882',
 '63146',
 '67801',
 '95967',
 '44024',
 '98506',
 '68130',
 '33852',
 '77024',
 '95154',
 '97138',
 '49406',
 '06840',
 '89113',
 '93581',
 '91709',
 '06830',
 '44070',
 '75948',
 '06470',
 '30044',
 '49646',
 '23666',
 '44109',
 '64014',
 '30306',
 '97031',
 '43213',
 '15330',
 '59721',
 '35802',
 '80403',
 '98570',
 '23898',
 '56358',
 '67654',
 '95603',
 '01886',
 '63303',
 '49267',
 '13642',
 '31558',
 '45342',
 '48827',
 '68010',
 '30135',
 '76645',
 '40165',
 '97298',
 '60544',
 '48170',
 '92027',
 '89104',
 '97448',
 '61821',
 '40160',
 '92399',
 '53092',
 '71943',
 '60453',
 '54466',
 '46112',
 '12224',
 '07920',
 '10602',
 '92801',
 '78155',
 '07302',
 '28173',
 '08215',
 '34205',
 '24363',
 '47408',
 '60491',
 '24171',
 '20678',
 '70607',
 '92276',
 '45122',
 '51601',
 '75355',
 '11547',
 '46112',
 '18002',
 '74120',
 '93455',
 '37874',
 '54667',
 '85284',
 '65622',
 '70124',
 '06762',
 '49045',
 '73122',
 '28110',
 '76307',
 '70187',
 '36078',
 '90814',
 '71901',
 '97321',
 '28425',
 '68803',
 '70068',
 '28216',
 '74014',
 '29483',
 '73601',
 '92615',
 '48602',
 '37122',
 '74104',
 '49128',
 '55385',
 '75458',
 '91102',
 '29323',
 '11550',
 '11550',
 '18077',
 '98310',
 '17046',
 '38222',
 '30345',
 '47802',
 '08054',
 '95376',
 '08846',
 '11231',
 '08205',
 '20902',
 '77630',
 '37215',
 '55127',
 '37743',
 '32778',
 '76028',
 '43229',
 '90247',
 '11102',
 '29657',
 '03743',
 '06432',
 '77075',
 '11803',
 '81137',
 '63362',
 '12603',
 '47933',
 '85053',
 '20879',
 '36832',
 '30269',
 '20875',
 '06238',
 '72701',
 '01301',
 '85242',
 '51566',
 '61265',
 '81301',
 '75142',
 '32746',
 '76039',
 '22901',
 '86403',
 '90049',
 '44041',
 '28574',
 '33585',
 '86326',
 '05601',
 '26651',
 '06443',
 '08021',
 '36024',
 '21795',
 '35603',
 '10016',
 '21620',
 '60517',
 '31326',
 '27614',
 '85259',
 '65102',
 '53575',
 '17319',
 '92692',
 '64060',
 '38965',
 '74137',
 '38230',
 '92173',
 '95757',
 '06473',
 '19063',
 '94116',
 '22443',
 '48509',
 '11958',
 '71322',
 '06855',
 '81301',
 '42445',
 '89410',
 '60532',
 '14519',
 '53210',
 '44053',
 '54961',
 '95813',
 '46241',
 '37013',
 '32615',
 '60565',
 '98926',
 '34601',
 '32763',
 '90265',
 '53237',
 '11354',
 '10314',
 '11743',
 '40353',
 '19720',
 '01002',
 '90620',
 '20853',
 '91350',
 '99635',
 '18103',
 '95695',
 '95616',
 '48471',
 '43082',
 '79842',
 '21797',
 '71033',
 '13031',
 '12833',
 '72112',
 '60545',
 '08535',
 '28010',
 '03105',
 '82941',
 '98065',
 '29059',
 '69337',
 '89193',
 '33470',
 '75442',
 '84790',
 '63131',
 '44805',
 '65202',
 '28518',
 '76028',
 '15068',
 '53083',
 '61704',
 '53534',
 '07055',
 '70119',
 '38124',
 '55345',
 '45106',
 '60442',
 '44721',
 '91604',
 '14226',
 '08859',
 '49431',
 '78745',
 '45229',
 '40218',
 '82701',
 '50659',
 '01960',
 '37206',
 '48316',
 '60026',
 '44907',
 '55060',
 '07733',
 '79103',
 '68763',
 '26711',
 '77007',
 '63049',
 '65205',
 '18407',
 '06524',
 '36426',
 '95428',
 '06795',
 '01908',
 '30909',
 '38654',
 '32825',
 '75159',
 '29710',
 '21601',
 '36117',
 '91786',
 '91201',
 '30318',
 '97381',
 '13421',
 '80829',
 '44145',
 '92609',
 '98092',
 '60107',
 '48186',
 '44333',
 '95159',
 '46375',
 '78605',
 '72450',
 '95687',
 '33615',
 '54220',
 '01879',
 '77465',
 '92079',
 '71935',
 '44903',
 '30622',
 '40512',
 '85382',
 '19301',
 '38008',
 '08530',
 '60435',
 '45122',
 '37216',
 '08884',
 '33315',
 '40144',
 '90405',
 '44822',
 '90209',
 '28557',
 '93406',
 '15146',
 '98335',
 '85340',
 '62052',
 '20878',
 '80437',
 '23005',
 '60475',
 ...]

In [9]:
# testing search of strange zipcodes - these appear to be in Canada (note)
# note - I already removed these from the database, so this now returns a blank list 
V7C_1E6_org = []

query1 = org.find({"address_postcode":'V7C 1E6'})
for i in query1:
    V7C_1E6_org.append(i)

pprint(V7C_1E6_org)

[]

In [10]:
# # find all orgs in Canada
# canada = []

# query1 = org.find({"address_country":'CA'})
# for i in query1:
#     canada.append(i)

# print (len(canada))

In [11]:
# pprint(canada)

In [13]:
## Ran this already - documents dropped
# need to drop documents with Canadian zip codes from the org_collections

# org.delete({"address_country":'CA'})
# org.delete_many({'address_country':'CA'})

In [15]:
# check - find all orgs in Canada
canada = []

query1 = org.find({"address_country":'CA'})
for i in query1:
    canada.append(i)

print (len(canada))

0

In [16]:
## animals_collection does not have org location, just organization_id, 
## so it will still include pets from canada

In [30]:
## rerun zip codes 
pet_zipcodes = []
for doc in org.find():
    pet_zipcodes += [doc["address_postcode"]]

In [86]:
pet_zipcodes_df = pd.DataFrame(pet_zipcodes)
pet_zipcodes_df.columns=['Zip']
pet_zipcodes_df

        Zip
0     19030
1     30102
2     44107
3     77080
4     63361
...     ...
9639  84780
9640  19003
9641  47454
9642  08231
9643  35242

[9644 rows x 1 columns]

In [83]:
zipcode2_df = pd.read_csv("zip_lat_lon.csv")
zipcode2_df

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint,Unnamed: 8
0,55795,Willow River,MN,46.317812,-92.84315,-6,1,46.317812,-92.84315
1,45388,Yorkshire,OH,40.328535,-84.47938,-5,1,40.328535,-84.47938
2,39483,Foxworth,MS,31.218509,-89.90761,-6,1,31.218509,-89.90761
3,31503,Waycross,GA,31.205194,-82.37534,-5,1,31.205194,-82.37534
4,45833,Delphos,OH,40.841409,-84.34178,-5,1,40.841409,-84.34178
...,...,...,...,...,...,...,...,...,...
43186,75034,Frisco,TX,33.143792,-96.83938,-6,1,33.143792,-96.83938
43187,41631,Grethel,KY,37.479754,-82.64922,-5,1,37.479754,-82.64922
43188,98362,Port Angeles,WA,48.097144,-123.40628,-8,1,48.097144,-123.40628
43189,83212,Arbon,ID,42.514471,-112.54626,-7,1,42.514471,-112.54626
43190,65280,Rush Hill,MO,39.213975,-91.73545,-6,1,39.213975,-91.73545

In [44]:
zipcode3_df = zipcode2_df[["Zip", "Latitude", "Longitude"]]
zipcode3_df

         Zip   Latitude  Longitude
0      55795  46.317812  -92.84315
1      45388  40.328535  -84.47938
2      39483  31.218509  -89.90761
3      31503  31.205194  -82.37534
4      45833  40.841409  -84.34178
...      ...        ...        ...
43186  75034  33.143792  -96.83938
43187  41631  37.479754  -82.64922
43188  98362  48.097144 -123.40628
43189  83212  42.514471 -112.54626
43190  65280  39.213975  -91.73545

[43191 rows x 3 columns]

In [92]:
#need to convert datatypes in order to merge dataframes 
convert_zipdict = {'Zip': str}
zipcode3_df = zipcode3_df.astype(convert_zipdict)
print(zipcode3_df.dtypes) 
print(len(zipcode3_df))

Zip           object
Latitude     float64
Longitude    float64
dtype: object
43191

In [93]:
#need to convert datatypes in order to merge dataframes
convert_petzipdict = {'Zip': str}
pet_zipcodes_df = pet_zipcodes_df.astype(convert_petzipdict)
print(pet_zipcodes_df.dtypes)
print(len(pet_zipcodes_df))

Zip    object
dtype: object
9644

In [63]:
#merge dataframes - now every org should have a corresponding latlong
new_zip_df = pd.merge(pet_zipcodes_df, zipcode3_df, how= "left", on=["Zip", "Zip"])

In [84]:
new_zip_df.head()

     Zip   Latitude  Longitude
0  19030  40.175504  -74.84611
1  30102  34.097998  -84.61830
2  44107  41.480881  -81.80036
3  77080  29.816866  -95.52309
4  63361  38.973583  -91.53556

In [68]:
len(new_zip_df.Zip.unique())

6299

In [70]:
new_zip_df[new_zip_df.isna().any(axis=1)]

        Zip  Latitude  Longitude
23    07504       NaN        NaN
43    07030       NaN        NaN
47    04037       NaN        NaN
57    04032       NaN        NaN
66    06360       NaN        NaN
...     ...       ...        ...
9604  08530       NaN        NaN
9619  02030       NaN        NaN
9627  01021       NaN        NaN
9636  02345       NaN        NaN
9642  08231       NaN        NaN

[938 rows x 3 columns]

In [75]:
#dropna to get rid of zip codes with NaN for lat and/or long
new_zip2_df = new_zip_df.dropna()

In [85]:
# new combined df has 8706 rows
new_zip2_df.head()

     Zip   Latitude  Longitude
0  19030  40.175504  -74.84611
1  30102  34.097998  -84.61830
2  44107  41.480881  -81.80036
3  77080  29.816866  -95.52309
4  63361  38.973583  -91.53556

In [78]:
# new combined df has 5688 unique zip codes
len(new_zip2_df.Zip.unique())

5688

In [80]:
# get mongodb into pandas in order to merge with latlong
#select the collection within the database (i.e. org = db.org_collection as defined above)
#convert entire collection to Pandas dataframe
org_df = pd.DataFrame(list(org.find()))
org_df.head()

,_id,index,Unnamed: 0,id,name,email,phone,url,website,mission_statement,...,hours_saturdsy,hours_sunday,adoption_policy,adoption_url,socialmedia_facebook,socialmedia_twitter,socialmedia_youtube,socialmedia_instagram,socialmedia_pinterest,organization_id
0,600c8d8b9129859f3e7d80f4,0,0,PA912,The Shelter Animal Project,tsapadoption@gmail.com,NaN,https://www.petfinder.com/member/us/pa/fairles...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pa912
1,600c8d8b9129859f3e7d80f5,1,1,GA762,Special Touch Animal Rescue,STARRadopt@aol.com,(404) 983-3581,https://www.petfinder.com/member/us/ga/acworth...,NaN,We are a private foster home group. We are NOT...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ga762
2,600c8d8b9129859f3e7d80f6,2,2,OH749,Purr-fect Companions Sanctuary,purrfectcompanions@att.net,216-671-6369,https://www.petfinder.com/member/us/oh/lakewoo...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oh749
3,600c8d8b9129859f3e7d80f7,3,3,TX876,Gina's Heart of Gold Reptile Rescue,gdisteldorf@comcast.net,(713) 329-9304,https://www.petfinder.com/member/us/tx/houston...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tx876
4,600c8d8b9129859f3e7d80f8,4,4,MO556,Montgomery City Animal Shelter/Project Preciou...,projectpreciouspaws@hotmail.com,1-573-310-4979,https://www.petfinder.com/member/us/mo/montgom...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mo556

In [88]:
#need to convert datatypes in order to merge dataframes
# convert_petzipdict = {'Zip': str}
# pet_zipcodes_df = pet_zipcodes_df.astype(convert_petzipdict)
# print(pet_zipcodes_df.dtypes) 

convert_orgdict = {'address_postcode': str}
org2_df = org_df.astype(convert_orgdict)
print(org2_df.dtypes)

_id                       object
index                      int64
Unnamed: 0                 int64
id                        object
name                      object
email                     object
phone                     object
url                       object
website                   object
mission_statement         object
distance                 float64
address_address1          object
address_address2          object
address_city              object
address_state             object
address_postcode          object
address_country           object
hours_monday              object
hours_tuesday             object
hours_wednesday           object
hours_thursday            object
hours_friday              object
hours_saturdsy            object
hours_sunday              object
adoption_policy           object
adoption_url              object
socialmedia_facebook      object
socialmedia_twitter       object
socialmedia_youtube       object
socialmedia_instagram     object
socialmedia_pinterest     object
organization_id           object
dtype: object

In [99]:
# correct typo in hours_saturdsy
org2_df = org2_df.rename(columns={'hours_saturdsy': 'hours_saturday'})
org2_df

,_id,index,Unnamed: 0,id,name,email,phone,url,website,mission_statement,...,hours_saturday,hours_sunday,adoption_policy,adoption_url,socialmedia_facebook,socialmedia_twitter,socialmedia_youtube,socialmedia_instagram,socialmedia_pinterest,organization_id
0,600c8d8b9129859f3e7d80f4,0,0,PA912,The Shelter Animal Project,tsapadoption@gmail.com,NaN,https://www.petfinder.com/member/us/pa/fairles...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pa912
1,600c8d8b9129859f3e7d80f5,1,1,GA762,Special Touch Animal Rescue,STARRadopt@aol.com,(404) 983-3581,https://www.petfinder.com/member/us/ga/acworth...,NaN,We are a private foster home group. We are NOT...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ga762
2,600c8d8b9129859f3e7d80f6,2,2,OH749,Purr-fect Companions Sanctuary,purrfectcompanions@att.net,216-671-6369,https://www.petfinder.com/member/us/oh/lakewoo...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oh749
3,600c8d8b9129859f3e7d80f7,3,3,TX876,Gina's Heart of Gold Reptile Rescue,gdisteldorf@comcast.net,(713) 329-9304,https://www.petfinder.com/member/us/tx/houston...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tx876
4,600c8d8b9129859f3e7d80f8,4,4,MO556,Montgomery City Animal Shelter/Project Preciou...,projectpreciouspaws@hotmail.com,1-573-310-4979,https://www.petfinder.com/member/us/mo/montgom...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mo556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9639,600c8d8c9129859f3e7da7ff,9995,9995,UT08,Washington City Animal Shelter,abarnson@washingtoncity.org,(435) 673-7194,https://www.petfinder.com/member/us/ut/washing...,NaN,NaN,...,NaN,NaN,We want to get all of our animals at the shelt...,NaN,https://www.facebook.com/washcityanmlshelter/,NaN,NaN,NaN,NaN,ut08
9640,600c8d8c9129859f3e7da800,9996,9996,NJ625,"A Dog's Place Rescue, Inc.",sherman.lisa28@gmail.com,(484) 800-2055,https://www.petfinder.com/member/us/pa/ardmore...,http://adogsplacerescuepa.org,PLEASE NOTE!!! All dogs posted on our site co...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nj625
9641,600c8d8c9129859f3e7da801,9997,9997,IN595,Great Babies Rescue Inc.,greatbabiesrescue@yahoo.com,(812) 653-1985,https://www.petfinder.com/member/us/in/paoli/g...,http://greatbabiesrescue.org,"Our mission is simple, to rescue, rehabilitate...",...,NaN,NaN,Great Babies Rescue takes the adoption process...,NaN,NaN,NaN,NaN,NaN,NaN,in595
9642,600c8d8c9129859f3e7da802,9998,9998,NJ679,"Thrifty Kitty, Inc.",thriftykitty@msn.com,(609) 287-9121,https://www.petfinder.com/member/us/nj/oceanvi...,NaN,VOLUNTEER YOUR TIME\r\n\r\n\r\nThrifty Kitty i...,...,NaN,NaN,Thrifity Kitty is no longer adopting cats or k...,NaN,NaN,NaN,NaN,NaN,NaN,nj679
9643,600c8d8c9129859f3e7da803,9999,9999,AL490,Uno's Home for Wayward Cats and Dogs,unoshome@gmail.com,NaN,https://www.petfinder.com/member/us/al/birming...,NaN,To provide vetting and socialization to cats a...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,al490

In [100]:
# change Zip header name to match field in incoming mongodb

new_zip2_df = new_zip2_df.rename(columns={'Zip': 'address_postcode'})
new_zip2_df

     address_postcode   Latitude  Longitude
0               19030  40.175504  -74.84611
1               30102  34.097998  -84.61830
2               44107  41.480881  -81.80036
3               77080  29.816866  -95.52309
4               63361  38.973583  -91.53556
...               ...        ...        ...
9638            90704  33.368642 -118.40835
9639            84780  37.144146 -113.49671
9640            19003  40.000861  -75.29694
9641            47454  38.533167  -86.48362
9643            35242  33.409582  -86.69684

[8706 rows x 3 columns]

In [101]:
#merge dataframes - now every org should have a corresponding latlong
new_org_col_df = pd.merge(new_zip2_df, org2_df,  how= "left", on=["address_postcode", "address_postcode"])

In [103]:
new_org_col_df

,address_postcode,Latitude,Longitude,_id,index,Unnamed: 0,id,name,email,phone,...,hours_saturday,hours_sunday,adoption_policy,adoption_url,socialmedia_facebook,socialmedia_twitter,socialmedia_youtube,socialmedia_instagram,socialmedia_pinterest,organization_id
0,19030,40.175504,-74.84611,600c8d8b9129859f3e7d80f4,0,0,PA912,The Shelter Animal Project,tsapadoption@gmail.com,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pa912
1,30102,34.097998,-84.61830,600c8d8b9129859f3e7d80f5,1,1,GA762,Special Touch Animal Rescue,STARRadopt@aol.com,(404) 983-3581,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ga762
2,30102,34.097998,-84.61830,600c8d8b9129859f3e7d81da,230,230,GA327,Bells Ferry Veterinary Hospital,agilecanines@gmail.com,(770) 926-5311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ga327
3,44107,41.480881,-81.80036,600c8d8b9129859f3e7d80f6,2,2,OH749,Purr-fect Companions Sanctuary,purrfectcompanions@att.net,216-671-6369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oh749
4,77080,29.816866,-95.52309,600c8d8b9129859f3e7d80f7,3,3,TX876,Gina's Heart of Gold Reptile Rescue,gdisteldorf@comcast.net,(713) 329-9304,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tx876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18129,19003,40.000861,-75.29694,600c8d8c9129859f3e7da800,9996,9996,NJ625,"A Dog's Place Rescue, Inc.",sherman.lisa28@gmail.com,(484) 800-2055,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nj625
18130,47454,38.533167,-86.48362,600c8d8c9129859f3e7da801,9997,9997,IN595,Great Babies Rescue Inc.,greatbabiesrescue@yahoo.com,(812) 653-1985,...,NaN,NaN,Great Babies Rescue takes the adoption process...,NaN,NaN,NaN,NaN,NaN,NaN,in595
18131,35242,33.409582,-86.69684,600c8d8c9129859f3e7d9bad,6841,6841,AL465,Animal Assistance & Rescue Foundation,aarfalabama@gmail.com,NaN,...,NaN,NaN,Complete the adoption survey.\r\n\r\nA team me...,https://forms.gle/jvY3d4UVfXe9FGdU8,https://www.facebook.com/AlabamaAARF/,NaN,NaN,NaN,NaN,al465
18132,35242,33.409582,-86.69684,600c8d8c9129859f3e7d9c08,6932,6932,AL465,Animal Assistance & Rescue Foundation,aarfalabama@gmail.com,NaN,...,NaN,NaN,Complete the adoption survey.\r\n\r\nA team me...,https://forms.gle/jvY3d4UVfXe9FGdU8,https://www.facebook.com/AlabamaAARF/,NaN,NaN,NaN,NaN,al465
18133,35242,33.409582,-86.69684,600c8d8c9129859f3e7da803,9999,9999,AL490,Uno's Home for Wayward Cats and Dogs,unoshome@gmail.com,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,al490

In [105]:
# check fields and dtypes - Latitude and Longitude are there 
# print(new_org_col_df.dtypes)

In [106]:
#dropna for fields where there is no lat or long because zip code not in the list: 
new_org_col_df.dropna(subset=['Latitude'])
print (len(new_org_col_df))

18134